<ion-view style="" class=" " id="createList" title="Create List">
  <ion-content class="has-header" padding="true" style="background: url(img/bg1.jpg) center; background-size: cover;">

    <div class="row" ng-repeat="createEvent in createEvents" style="border-top: 1px solid #999;">
      <div class="item" style="border-width: 0px; border-style: none;">
        <a class="item" href="#" style="border-width: 0px; border-style: none;">
          <p style="text-align:left; color: white;">
		 			<span style="font-size: 24px; font-weight: bold;">
		 				{{createEvent.name}}
		 			</span> <br>
            {{createEvent.branch}} &nbsp; &nbsp;
            {{createEvent.date}} &nbsp; &nbsp;
            {{createEvent.time}} <br>
            <span style="font-size: 18px;">
		 				{{createEvent.description}}
		 			</span>
          </p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
